:root {
   /* Colors -------------- */

   /* Primary */
   --soft-orange: hsl(35, 77%, 62%);
   --soft-red: hsl(5, 85%, 63%);
   
   /* Neutral */
   --off-white: hsl(36, 100%, 99%);
   --grayish-blue: hsl(233, 8%, 79%);
   --dark-grayish-blue: hsl(236, 13%, 42%);
   --very-dark-blue: hsl(240, 100%, 5%);
}


@font-face {
   font-family: 'Inter';
   font-weight: 400;
   src: url('./assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
   font-family: 'Inter-Bold';
   font-weight: 700;
   src: url('./assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
   font-family: 'Inter-ExtraBold';
   font-weight: 800;
   src: url('./assets/fonts/static/Inter-ExtraBold.ttf');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter';
}

.container {
   width: 100%;
   padding: 0 20px;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.between {
   justify-content: space-between;
}

.middle {
   align-items: center;
}

.text {
   line-height: 22px;
   color: var(--grayish-blue);
   font-size: 1rem;
}

/* Header */
header {
   position: fixed;
   width: 100%;
   padding: 20px 0;
   background-color: #fff;
   z-index: 10;
}

.logo img {
   width: 50px;
}

.mobile_menu {
   display: block;
}

.mobile_menu span {
   font-size: 35px;
}

.nav_links {
   display: none;
}

.nav_links li {
   list-style: none;
}

.nav_links li a {
   text-decoration: none;
   color: var(--grayish-blue);
   padding: 0 10px;
   transition: .3s ease;
}

.nav_links li a:hover {
   color: var(--dark-grayish-blue);
}


/* MAIN -----------------------> */
#main {
   position: relative;
   top: 100px;
}

.main_fature {
   flex-basis: 100%;
   min-height: 500px;
}

.fature_banner {
   flex-basis: 100%;
   height: 300px;
   background-image: url('./assets/images/image-web-3-mobile.jpg');
   background-size: cover;
   padding: 20px 0;
}

.fature_heading {
   flex-basis: 100%;
   padding: 10px 0;
}

.fature_heading h1 {
   font-size: 3rem;
   font-family: 'Inter-ExtraBold';
}

.fature_info {
   flex-basis: 100%;
   padding: 10px 0 20px;
}

.fature_info p {
   padding: 15px 0;
}

.fature_info .btn {
   display: inline-block;
   padding: 15px 30px;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: 700;
   background-color: var(--soft-red);
   text-decoration: none;
   color: #fff;
   transition: .3s all ease;
}

.btn:hover {
   background-color: var(--very-dark-blue);
}

.main_news {
   flex-basis: 100%;
   min-height: 500px;
}

.news_content {
   width: 100%;
   height: 100%;
   background-color: var(--very-dark-blue);
}

.items {
   padding: 25px 0;
}

.item {
   flex-basis: 100%;
   height: 250px;
   padding: 20px 0;
}


.item_content {
   width: 100%;
   height: 100%;
   background-color: var(--soft-red);
}












/* Media -------------------> */

/* 556 -> 767 */
@media (min-width: 556px) {
   .container {
      width: 90%;
      padding: 0;
      margin: auto;
   }
}


/* 768 - 991 */
@media (min-width: 768px) {
   .container {
      width: 85%;
   }
}

/* 992 */
@media (min-width: 992px) {
   .container {
      width: 80%;
   }

   header {
      padding: 50px 0;
   }

   .mobile_menu {
      display: none;
   }

   .nav_links {
      display: flex;
   }

}

@media (min-width: 1200px) {
   .main_fature {
      flex-basis: 75%;
      padding-right: 20px;
   }

   .main_news {
      flex-basis: 25%;
      padding-left: 20px;
   }
   
   .fature_heading, .fature_info {
      padding: 30px;
      flex-basis: 50%;
   }

   .item {
      flex-basis: 33.3%;
   }
   
   .item:nth-child(1) {
      padding-left: 0;
   }

   .item:nth-child(2) {
      padding: 20px 10px;
   }

   .item:nth-child(3) {
      padding-right: 0;
   }
}